.breeds-wrapper {
    display: flex;
    justify-content: center;
}

.breeds-section {
    width: 100%;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    margin: 30px 30px;
}

.breeds-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.breeds-gallery-controller {
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.breeds-title {
    display: inline-block;
    width: 143px;
    height: 40px;
    margin: 0;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #FF868E;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 40px;
}

.breeds-select {
    width: 226px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #F8F8F7;
    color: #8C8C8C;
    box-sizing: border-box;
    border: 2px solid #F8F8F7;
}

.breeds-select:hover {
    cursor: pointer;
    border: 2px solid #FBE0DC;
}

.breeds-select-limit {
    width: 101px;
}

.breeds-sort {
    width: 40px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #F8F8F7;
    color: #8C8C8C;
    font-size: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breeds-sort:hover {
    cursor: pointer;
    border: 2px solid #FBE0DC;
    color: #FF868E;

}

.breeds-gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 140px);
}

.breeds-gallery-wrapper {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
}

.breeds-image-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 134, 142, 0.6);
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(100%);
    transition: transform 0.2s ease-in;
}

.breeds-image-overlay-text {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    min-height: 34px;
    width: calc(100% - 20px);
    border-radius: 10px;
    font-size: 16px;
    color: #FF868E;
}

.breeds-gallery-image-wrapper {
    max-height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.breeds-gallery-image-wrapper:hover .breeds-image-overlay{
    transform: translateY(0);
}

.first {
    grid-row: span 2;
    width: 200px;
    height: 300px;
}

.second {
    width: 200px;
    height: 140px;
}

.third {
    width: 200px;
    height: 140px;
}

.fourth {
    grid-row: span 2;
    grid-column: span 2;
    max-height: 300px;
}

.fifth {
    width: 200px;
    height: 140px;
}

.sixth {
    width: 200px;
    height: 140px;
}

.seventh {
    width: 200px;
    height: 140px;
}

.eighth {
    grid-row: span 2
}

.ninth {
    grid-row: span 2;
    grid-column: span 2;
    height: 300px;
}

.tenth {
    width: 200px;
    height: 140px;
}